In [1]:
import pandas as pd
import glob
all_files = glob.glob('*.csv')
all_files.remove('MTeamSpellings.csv')
all_files

['MNCAATourneyDetailedResults.csv',
 'MNCAATourneyCompactResults.csv',
 'MSeasons.csv',
 'MPlayers.csv',
 'MRegularSeasonDetailedResults.csv',
 'MNCAATourneySlots.csv',
 'MGameCities.csv',
 'MSampleSubmissionStage1_2020.csv',
 'MConferenceTourneyGames.csv',
 'Cities.csv',
 'MRegularSeasonCompactResults.csv',
 'MNCAATourneySeedRoundSlots.csv',
 'MTeamConferences.csv',
 'MTeamCoaches.csv',
 'MMasseyOrdinals.csv',
 'Conferences.csv',
 'MTeams.csv',
 'MNCAATourneySeeds.csv',
 'MSecondaryTourneyTeams.csv',
 'MSecondaryTourneyCompactResults.csv']

In [2]:
dic = {}
for idx, i in enumerate(all_files):
    exec(f'df{idx} = pd.read_csv(i)')
    dic[idx] = i

In [3]:
dic

{0: 'MNCAATourneyDetailedResults.csv',
 1: 'MNCAATourneyCompactResults.csv',
 2: 'MSeasons.csv',
 3: 'MPlayers.csv',
 4: 'MRegularSeasonDetailedResults.csv',
 5: 'MNCAATourneySlots.csv',
 6: 'MGameCities.csv',
 7: 'MSampleSubmissionStage1_2020.csv',
 8: 'MConferenceTourneyGames.csv',
 9: 'Cities.csv',
 10: 'MRegularSeasonCompactResults.csv',
 11: 'MNCAATourneySeedRoundSlots.csv',
 12: 'MTeamConferences.csv',
 13: 'MTeamCoaches.csv',
 14: 'MMasseyOrdinals.csv',
 15: 'Conferences.csv',
 16: 'MTeams.csv',
 17: 'MNCAATourneySeeds.csv',
 18: 'MSecondaryTourneyTeams.csv',
 19: 'MSecondaryTourneyCompactResults.csv'}

In [4]:
df17

      Season Seed  TeamID
0       1985  W01    1207
1       1985  W02    1210
2       1985  W03    1228
3       1985  W04    1260
4       1985  W05    1374
5       1985  W06    1208
6       1985  W07    1393
7       1985  W08    1396
8       1985  W09    1439
9       1985  W10    1177
10      1985  W11    1455
11      1985  W12    1330
12      1985  W13    1233
13      1985  W14    1318
14      1985  W15    1273
15      1985  W16    1250
16      1985  X01    1385
17      1985  X02    1433
18      1985  X03    1301
19      1985  X04    1424
20      1985  X05    1449
21      1985  X06    1409
22      1985  X07    1104
23      1985  X08    1234
24      1985  X09    1116
25      1985  X10    1112
26      1985  X11    1431
27      1985  X12    1246
28      1985  X13    1361
29      1985  X14    1305
...      ...  ...     ...
2256    2019  Y03    1222
2257    2019  Y04    1242
2258    2019  Y05    1120
2259    2019  Y06    1235
2260    2019  Y07    1459
2261    2019  Y08    1429
2262    2019  Y09    1449
2263    2019  Y10    1371
2264    2019  Y11    1326
2265    2019  Y12    1308
2266    2019  Y13    1318
2267    2019  Y14    1209
2268    2019  Y15    1101
2269    2019  Y16    1233
2270    2019  Z01    1438
2271    2019  Z02    1397
2272    2019  Z03    1345
2273    2019  Z04    1243
2274    2019  Z05    1458
2275    2019  Z06    1437
2276    2019  Z07    1153
2277    2019  Z08    1279
2278    2019  Z09    1328
2279    2019  Z10    1234
2280    2019  Z11    1388
2281    2019  Z12    1332
2282    2019  Z13    1414
2283    2019  Z14    1330
2284    2019  Z15    1159
2285    2019  Z16    1205

[2286 rows x 3 columns]